<header>

	<div class="logo-container">

		<a href="/">
			<img src="/LogoSolo.png" alt="Gotham Solutions Logo" class="logo">
		</a>

		<h1>Gotham Solutions</h1>

	</div>

	<nav>

		<ul>

			<li><a href="/" class="nav-link">Home</a></li>
			<li><a href="/services/" class="nav-link">Services</a></li>
			<li><a href="/templates/" class="nav-link">Templates</a></li>
			<li><a href="/about/" class="nav-link">About</a></li>
			<li><a href="/contact/" class="nav-link">Contact</a></li>
			<li><a href="/reviews/" class="nav-link">Reviews</a></li>
			<li><a href="/faq/" class="nav-link">FAQ</a></li>

		</ul>

	</nav>

</header>